@charset "utf-8";

@font-face {
    font-family: 'cookie';
    font-weight: 400;
    font-style: normal;
    src: url(./font/CookieRun-Regular.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'cookie';
    font-weight: 700;
    font-style: normal;
    src: url(./font/CookieRun-Bold.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'cookie';
    font-weight: 900;
    font-style: normal;
    src: url(./font/CookieRun-Black.woff) format('woff');
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

img {
    vertical-align: middle;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

body {
    font: 16px 'SCoreDream';
    line-height: 24px;
    color: #004059;
    min-width: 1450px;
}

/*header*/
#header {
    background-color: #b0dbe2;
    height: 100px;
}

.header_inner {
    width: 1320px;
    margin: 0 auto;
}

.logo2 {
    float: left;
    padding-top: 8.15px;
}

.prlg {
    float: left;
    font-size: 20px;
    font-weight: 600;
    padding: 36px 190px 0px 196px;
}

.login {
    float: right;
    font-size: 14px;
    padding-top: 40.5px;
}

.prlg li {
    float: left;
    padding-left: 36px;
}

.login li {
    float: left;
    padding-right: 16px;
}

/*banner*/
#banner {
    background-image: url(./prologe/prlg-mb.png);
    height: 400px;
    width: 100%;
    margin-bottom: 100px;
}

/*brandstory*/
#brandstory {
    background-image: url(./prologe/bs_bg.png);
    height: 1251px;
    width: 100%;
    margin-bottom: 200px;
}

/*bs_inner*/
.bs_inner {
    width: 1320px;
    margin: 0 auto;
    padding-top: 300px;
}

.bs_inner h4 {
    text-align: center;
    font-family: 'cookie';
    font-size: 24px;
    line-height: 48px;
}

.left_box1 {
    float: left;
    padding-left: 160px;
    box-sizing: border-box;
    width: 50%;
}

.right_box1 {
    width: 50%;
    float: left;
    padding-left: 20px;
    box-sizing: border-box;
}

.left_box1,
.right_box1 {
    padding-top: 100px;
}

.l_box_inner {
    padding-top: 50px;
    margin-bottom: 100px;
}

.r_box_inner {
    padding-top: 50px;
    margin-bottom: 100px;
}

.l_box_inner img {
    float: left;

}

.r_box_inner img {
    float: left;

}

.l_box_inner p {
    float: left;
    padding-top: 20px;
}

.r_box_inner p {
    float: left;
    padding-top: 20px;

}

.text1,
.text2 {
    text-align: center;
    padding-top: 30px;
}

.text2 {
    width: 450px;
}

.color_box {
    display: flex;

}

.color_box li {
    width: 97px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg1 {
    background-image: url(./prologe/icon1.png);
    margin-left: 100px;
}

.bg2 {
    background-image: url(./prologe/icon2.png);
    margin-left: 20px;
}

.bg1,
.bg2 {
    color: #efedd3;
    font-family: 'cookie';
    font-size: 16px;
}

.orang1,
.orang2 {
    color: #f15722;
}

.gray {
    padding-bottom: 50px;
}

.bg3 {
    background-image: url(./prologe/icon3.png);
    margin-left: 50px;
}

.bg4 {
    background-image: url(./prologe/icon4.png);
    margin-left: 20px;
}

.bg5 {
    background-image: url(./prologe/icon5.png);
    margin-left: 20px;
}

.bg3,
.bg4,
.bg5 {
    color: #004059;
    font-family: 'cookie';
    font-size: 16px;
}



.logo1 {

    padding-right: 30px;
}

.logo2 {

    padding-right: 30px;
}

.corol_box {
    margin-bottom: 30px;
}

/*location*/
#location {
    background-image: url(./prologe/location_bg.png);
    width: 100%;
    height: 1226px;
}

.lo_inner {
    margin: 0 auto;
    width: 1450px;
    font-family: 'cookie';
}

.lo_inner iframe {
    padding-top: 250px;
    margin-left: 65px;
}

.lo-text p {
    padding-left: 200px;
    font-size: 18px;
    line-height: 36px;

}

.nav {
    padding-bottom: 30px;
}


.lo-text h1 {
    padding-left: 174px;
    font-size: 18px;
    padding-bottom: 30px;
}

.lo-text ul li {
    float: left;
}

/*footer*/
#footer {
    background-image: url(./mgmg_img/footer_img.png);
    height: 364px;
    background-color: #edead1;
    background-repeat: no-repeat;
    color: #efedd3;
    line-height: 30px;
}

.footer_inner {

    margin: 0 auto;
    width: 1320px;
    padding-top: 120px;
}

.footer_inner h1 {
    float: left;
}

.left_box {
    float: left;
    padding-left: 55px;
}

.right_box {
    float: right;
}

.fnb li {
    float: left;
    padding-right: 30px;
}

.fnb {
    padding-bottom: 30px;

}

.sns li {
    float: left;
    padding-left: 30px;
}

.sns {
    padding-bottom: 30px;
}

.time p {
    text-align: right;
}